.appview-container .main .block-container{
    padding-top:  1 px;
    margin-top: 3 px;
    font-size: 30px;

}

div.element-container{
    text-align: justify;
    font-size: 26px;
}

element-container.css-1fgmho3.css-fg4pbf {
    text-align: right;
}

[data-testid="stMarkdownContainer"] ul{
    padding-left:40px;
    list-style-position: inside;
    text-align: justify;
}